.sky{background-image:linear-gradient(#303F9F,#40C4FF);width:100%;height:40vh}
.grass{background-image:linear-gradient(#309f44,#40ff69);width:100%;height:15vh}
.lights{width:10%;margin-left:2000px;margin-top:0px}
.car{width:13%;margin-left:500px;margin-top:0px;animation-name:car;position:absolute;top:50%;left:-17%;animation-duration:5s;animation-delay:0s;animation-iteration-count:1;animation-fill-mode:forwards;}
.ambulance{width:13%;margin-left:50px;margin-top:0px;animation-name:ambulance;animation-duration:20s;animation-delay:0s;animation-iteration-count:1;animation-fill-mode:forwards;}
.road{background-image:linear-gradient(#50525b,#3c3f41);width:100%;height:45vh}
.line{width:100%;height:6vh;border-bottom:dashed 10px whitesmoke;top:20%;position:relative}
.line1{width:100%;height:6vh;border-bottom:dashed 10px whitesmoke;top:50%;position:relative}
@keyframes car{from{transform:translatex(0px)}to{transform:translatex(1600px)}}
@keyframes ambulance{from{transform:translatex(0px)}to{transform:translatex(20000px)}}